<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SVM+GS McWall-E</title>
        
        <!-- Importing Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Importing other links -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>

        <!-- Importing link to CSS file -->
        <link href="../static/style_models.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src = "../static/js/svmapp.js"></script> 
    </head>
    </head>

    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Hearty McWall-E</label>
            <ul>
                <li><a class="active" href="/index">Home</a></li>
                <li><a class="active" href="/deep">Deep Learning</a></li>
                <li><a class="active" href="/svm">SVM</a></li>
                <li><a class="active" href="/logreg">Logistic Regression</a></li>
                <li><a class="active" href="/about">About Us</a></li>
            </ul>
        </nav>

        <div class="container" style="background: #D6EAF8;">
            <h1>Support Vector Machine + GridSearch Model</h1>
        </div>

        <hr>

        <img class="sticky" src="../static/images/robot1.jpg" alt="Avatar">

        <div class="container" style="background: #D6EAF8;">
            <div class="col-lg-12">
                <h4>Fill out the below to the best of your ability:</h4>
            </div>

            <!-- Start Forms -->

            <div class="header">
                <form id="form1" autocomplete="off" method="POST" action="/svm">
                    <div class="form-box">

                        <div class="autocomplete">
                            <p>1) What is your age?</p>
                            <input id = "age" type="text" class="search-field age" placeholder="AGE" name="age">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>2) Female or Male?</p>
                            <p>(Female = "1", Male = "2")</p>
                            <input id = "gender" type="text" class="search-field gender" placeholder="1 (F) / 2 (M)" name="gender">
                        </div>

                        <hr>
                        <div class="autocomplete">
                            <p>3) What is your height? (in centimeters)</p>
                            
                            <input id = "height" type="text" class="search-field height" placeholder="HEIGHT" name="height">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>4) What is your weight? (in kilograms)</p>
                            <input id = "weight" type="text" class="search-field weight" placeholder="WEIGHT" name="weight">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>5) What is your Cholesterol level (input actual number, i.e. "112")?</p>
                            <p>Category 1 (normal) = &lt;200mg/dL</p>
                            <p>Category 2 (high) = high = 200-239mg/dL</p>
                            <p>Category 3 (abnormal) = abnormal = 240+</p>
                            <input id = "chol" type="text" class="search-field chol" placeholder="CHOLESTEROL" name="chol">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>6) What is your Blood Pressure?</p>
                            <p>(Normal = &lt;120/&lt;80)</p>
                            <input id = "bp_hi" type="text" class="search-field bp_hi" placeholder="HIGH" name="bp_hi">
                            <input id = "bp_lo" type="text" class="search-field bp_lo" placeholder="LOW" name="bp_lo">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>7) What is your Glucose level (input actual number, i.e. "112")?</p>
                            <p>Category 1 (normal) = &lt;100mg/dL</p>
                            <p>Category 2 (high) = 100-125mg/dL</p>
                            <p>Category 3 (very high) = 126+</p>
                            <input id = "glucose" type="text" class="search-field glucose" placeholder="GLUCOSE" name="glucose">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>8) Do you smoke?</p>
                            <p>(Yes = "1", No = "0")</p>
                            <input id = "smoke" type="text" class="search-field smoke" placeholder="1 (Y) / 0 (N)" name="smoke">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>9) Do you drink alcohol?</p>
                            <p>(Yes = "1", No = "0")</p>
                            <input id = "alc" type="text" class="search-field alc" placeholder="1 (Y) / 0 (N)" name="alc">
                        </div>

                        <hr>

                        <div class="autocomplete">
                            <p>10) Are you active (on average) at least 30 minutes a day?</p>
                            <p>(Yes = "1", No = "0")</p>
                            <input id = "active" type="text" class="search-field active" placeholder="1 (Y) / 0 (N)" name="active">
                        </div>

                        <hr>

                        

				        <button form="form1" class="btn btn-primary btn-lg" type="submit" onsubmit="buildPlot()">Calculate!</button>

                    </div>
                </form>
            </div>
        </div>
        <div class="container" >
            <div class="row">
                <div class="col">
                    <h2 id="result" ></h2>
                        <hr>
                    <img class="gif" id="healthy" src="../static/images/healthy.gif" style = "visibility: hidden; position: absolute; margin:0; padding: 0;"/>
                    <img class="gif" id="doctor" src="../static/images/doctor.gif" style = "visibility: hidden; position: absolute; margin:0; padding:0;"/>
                </div>
            </div>
        </div>
    
    
        <div class="container" >
            <div class="row">
                <div class="col">
                    <h2 id="fix"></h2>
                        <hr>
                    <img class="gif" id="weightC" src="../static/images/weight.gif" style = "visibility: hidden; position: absolute; margin:0; padding: 0;"/>
                    <img class="gif" id="BP" src="../static/images/bloodpressure.gif" style = "visibility: hidden; position: absolute; margin:0; padding:0;"/>
                    <img class="gif" id="cholC" src="../static/images/cholesterol.gif" style = "visibility: hidden;  position: absolute; margin:0; padding:0;"/>
                    <img class="gif" id="glucC" src="../static/images/glucose.gif" style = "visibility: hidden; position: absolute; margin:0; padding: 0;"/>
                    <img class="gif" id="smokeC" src="../static/images/smoke.gif" style = "visibility: hidden; position: absolute; margin:0; padding:0;"/>
                    <img class="gif" id="alcoC" src="../static/images/alcohol.gif" style = "visibility: hidden; position: absolute; margin:0; padding:0;"/>
                    <img class="gif" id="activeC" src="../static/images/active.gif" style = "visibility: hidden; position: absolute; margin:0; padding: 0;"/>
                   
                </div>
            </div>
        </div>

    </body>
</html>